<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
        aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <!-- <a href="home" class="nav-link">Home</a> -->
                <a routerLink="home" class="nav-link">Home</a>
            </li> 
            <li class="nav-item">
                <!-- <a routerLink="products" class="nav-link">Products</a> -->
                <a [routerLink]="'products'" class="nav-link">Products</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="'students'" class="nav-link">Students</a>
            </li>
            
            
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" #emailId="ngModel" ngModel required email class="form-control" name="EmailId" type="email" placeholder="Email Id">
            <button class="btn btn-outline-primary my-2 my-sm-0" routerLink="signup">Sign Up</button>
        </form>        
    </div>
</nav>