<div class="container">
    <form (ngSubmit)="OnSubmit(f)" #f="ngForm"> 
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input type="text" #firstName="ngModel" ngModel required minlength="3" maxlength="12" name="FirstName" class="form-control" id="FirstName" aria-describedby="helpId" placeholder="First Name">
                    <!-- <small id="helpId" *ngIf="firstName.invalid && firstName.touched" class="form-text alert alert-danger">First Name is mandatory</small> -->
                    <small id="helpId" *ngIf="firstName.errors?.required && firstName.touched" class="form-text alert alert-danger">First Name is mandatory</small>
                    <small id="helpId" *ngIf="firstName.errors?.minlength" class="form-text alert alert-danger">Min 3 characters required</small>                   
                    
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="LastName">Last Name</label> 
                    <input type="text" #lastName="ngModel" ngModel name="LastName" class="form-control" id="LastName" aria-describedby="helpId" placeholder="Last Name">
                    <small id="helpId" *ngIf="lastName.errors?.required && lastName.touched" class="form-text alert alert-danger">Last Name is mandatory</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="EmailId">Email Id</label>
                <input type="email" class="form-control"  email #emailId="ngModel" ngModel name="EmailId" id="EmailId" aria-describedby="emailHelpId" placeholder="Email Id">
                <small id="helpId" *ngIf="emailId.errors?.email && emailId.touched" class="form-text alert alert-danger">Invalid email id</small>
              </div>                  
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Address">Address</label>
                <textarea class="form-control" ngModel name="Address" id="Address" rows="3"></textarea>
              </div>  
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="Password">Password</label>
                  <input type="password" class="form-control" ngModel name="Password" id="Password" placeholder="Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" ngModel name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password">
                  </div>
            </div>
        </div>
        <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Sign Up</button>
        <!-- <button type="submit" class="btn btn-primary">Sign Up</button> -->
    </form>
</div>