<div class="container">
    <form (ngSubmit)="OnSubmit(f)" #f="ngForm"> 
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="FirstName">First Name</label>
                    <input type="text" ngModel name="FirstName" class="form-control" id="FirstName" aria-describedby="helpId" placeholder="First Name">
                    <small id="helpId" class="form-text text-muted">First Name</small>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="LastName">Last Name</label> 
                    <input type="text" ngModel name="LastName" class="form-control" id="LastName" aria-describedby="helpId" placeholder="Last Name">
                    <small id="helpId" class="form-text text-muted">Last Name</small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="EmailId">Email Id</label>
                <input type="email" class="form-control" ngModel name="EmailId" id="EmailId" aria-describedby="emailHelpId" placeholder="Email Id">
                <small id="emailHelpId" class="form-text text-muted">Email Id</small>
              </div>                  
            </div>            
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="Password">Password</label>
                  <input type="password" class="form-control" ngModel name="Password" id="Password" placeholder="Password">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="ConfirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" ngModel name="ConfirmPassword" id="ConfirmPassword" placeholder="Confirm Password">
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-check form-check-inline">
                  <label class="form-check-label">
                      <input class="form-check-input" type="radio" ngModel name="Gender" value="male"> Male
                      <input class="form-check-input" type="radio" ngModel name="Gender" value="female"> Female
                  </label>
              </div>  
            </div>
            <div class="col-md-6">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" ngModel name="TermsAndConditions" id="TermsAndConditions" value="TermsAndConditions" checked>
                    Term & Conditions
                  </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="City">City</label>
                  <select class="form-control" ngModel name="City" id="City">
                    <option>Pune</option>
                    <option>Mumbai</option>
                    <option>Bengaluru</option>
                    <option>Chennai</option>
                  </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                  <label for="Skills">Skills</label>
                  <select multiple class="form-control" ngModel name="Skills" id="Skills">
                    <option>C#</option>
                    <option>ASP.Net</option>
                    <option>MVC</option>
                    <option>Angular</option>
                    <option>Javascript</option>
                  </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                  <label for="Age">Age</label>
                  <input type="number"
                    class="form-control" ngModel name="Age" id="Age" aria-describedby="helpId" placeholder="Age">
                  <small id="helpId" class="form-text text-muted">Age</small>
                </div>          
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="Address">Address</label>
                <textarea class="form-control" ngModel name="Address" id="Address" rows="3"></textarea>
              </div>  
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Sign Up</button>
    </form>
</div>