<h3>Products List</h3>
<div class="row">
    <div class="col-md-3">
        Filter
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input type="text" class="form-control" (keyup)="Filter($event)" placeholder="Filter">
        </div>
    </div>
    <!-- <div class="col-md-3 alert alert-danger" [hidden]="filterText.length<=2"> -->
    <div class="col-md-3 alert alert-danger" *ngIf="filterText.length>2 else noFilter">
        {{filterText}}
    </div>
    <ng-template #noFilter>
        <div class="col-md-3 alert alert-info">
            No Filter Applied
        </div>
    </ng-template>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Code</th>
            <th>Release Date</th>
            <th>Description</th>
            <th>Email id</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr 
            *ngFor="let prod of products" 
            [style.backgroundColor]="prod.starRating>3?'green':'yellow'"
            [style.color]="prod.starRating>3?'white':'blue'"> -->
        <!-- <tr *ngFor="let prod of products" 
            [class.green]="prod.starRating>3"
            [class.yellow]="prod.starRating<=3"> -->
        <!-- <tr *ngFor="let prod of products" 
            [ngStyle]="{'background-color': prod.starRating>3?'yellowgreen':'yellow',
                        color: prod.starRating>3?'white':'blue',
                        fontWeight: prod.starRating>3?'bold':'',
                        fontStyle: prod.starRating>3?'':'italic'}"> -->
        <!-- <tr *ngFor="let prod of products" 
            [ngClass]="{green: prod.starRating>3, yellow:prod.starRating<=3}"> -->
        <tr *ngFor="let prod of products" [ngClass]="getClass(prod)">
            <td>{{prod.productId}}</td>
            <td>{{prod.productName}}</td>
            <td>{{prod.productCode}}</td>
            <td>{{prod.releaseDate}}</td>
            <td>{{prod.description?.descText}}</td>
            <td>{{prod.description?.emailId}}</td>
            <td>{{prod.price}}</td>
            <td [ngSwitch]="prod.starRating">
                <span *ngSwitchCase="1">Very Bad</span>
                <span *ngSwitchCase="2">Bad</span>
                <span *ngSwitchCase="3">Average</span>
                <span *ngSwitchCase="4">Good</span>
                <span *ngSwitchCase="5">Very Good</span>
                <span *ngSwitchDefault>NA</span>
            </td>
            <td><img width="100px" height="100px" [src]="prod.imageUrl" alt=""></td>
        </tr>
    </tbody>
</table>