<h3>Products List</h3>
<div class="row">
    <div class="col-md-3">
        Filter
    </div>
    <div class="col-md-3">
        <div class="form-group">
            <input type="text" class="form-control" (keyup)="Filter($event)" placeholder="Filter">
        </div>
    </div>
    <!-- <div class="col-md-3 alert alert-danger" [hidden]="filterText.length<=2"> -->
    <div class="col-md-3 alert alert-danger" *ngIf="filterText.length>2 else noFilter">
        {{filterText}}
    </div>
    <ng-template #noFilter>
        <div class="col-md-3 alert alert-info">
            No Filter Applied
        </div>
    </ng-template>
</div>

<div class="row">
    <!-- <div *ngFor="let prod of products" class="col-md-3" style="margin-right: 10px; margin-bottom: 10px;">
        <product-thumbnail [pd]="prod"></product-thumbnail> 
    </div> -->
    <product-thumbnail 
        *ngFor="let prod of products" 
        class="col-md-4"  
        [pd]="prod"
        (pe)="receiveData($event)"
        >
    </product-thumbnail>
    
</div>