<h2>String Interpolation Examples</h2>

<div class="row">
    <div class="col-md-2">
        Example 1
    </div>
    <div class="col-md-2">
      {{4+5}}  
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Example 2
    </div>
    <div class="col-md-2">
        <!-- {{num1}}         -->
        {{num1+(4+5)}}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Example 3
    </div>
    <div class="col-md-2">
        <!-- {{num1}}         -->
        {{name}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        Example 4
    </div>
    <div class="col-md-2">
        <!-- {{num1}}         -->
        {{termsAndConditions}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        Example 5
    </div>
    <div class="col-md-2">
        <!-- {{num1}}         -->
        {{getData()}}
    </div>
</div>
<div class="row">
    <div class="col-md-2">
        Example 6 - Cant do
    </div>
    <div class="col-md-2">
        <!-- {{num1,num2}} -->
        <!-- {{num1;num2}} -->
        <!-- {{new Person()}} -->
    </div>
</div>