<h2>Event Binding Examples</h2>
<h4>
    Data/Communication being sent from the template to component class.
    When user will raise any event, we will notify the component class accordingly     
</h4>

<div class="row">
    <div class="col-md-3">
        Example 1
    </div>
    <div class="col-md-3">
        <button type="button" (click)="name='Ram'" class="btn btn-primary">Click</button>
    </div>
    <div class="col-md-3">
        {{name}}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        Example 2
    </div>
    <div class="col-md-3">
        <button type="button" (click)="SomeMethod()" class="btn btn-primary">Click</button>
    </div>
    <div class="col-md-3">
        {{name}}
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        Example 3
    </div>
    <div class="col-md-3">
        <button type="button" (dblclick)="dblClickMethod()" class="btn btn-primary">Double Click</button>
    </div>
    <div class="col-md-3">
        {{name}}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        Example 4
    </div>
    <div class="col-md-3">
        <input type="text" (input)="MessageChanged($event)" class="form-control" placeholder="Enter Message">
    </div>
    <div class="col-md-3">
        {{message}}
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        Example 5
    </div>
    <div class="col-md-3">
        <input type="text" (keyup)="MessageChanged($event)" class="form-control" placeholder="Enter Message">
    </div>
    <div class="col-md-3">
        {{message}}
    </div>
</div>